/* Variables */

:root {
  /* Main colors */
  --main-accent-color: #343d46;
  --main-accent-darker-color: #141d26;
  --main-accent-lighter-color: #747d86;

  /* Layout colors */
  --main-bg-color: white;
  --main-bg-text-color: var(--main-accent-color);
  --main-bg-text-active-color: var(--main-accent-color);
  --accent-bg-color: var(--main-accent-color);
  --accent-bg-text-color: white;
  --indent-bg-color: #f7f7f7;
  --indent-bg-text-color: black;

  /* Layout spaces */
  --site-width: 60rem;
  --height-top-bar: 5rem;

  /* Element colors */
  --logo-color: var(--main-accent-color);

  --code-id-color: #28afb0;
  --code-variable-color: #7b287d;
  --code-string-color: #4357ad;
  --code-comment-color: #999;
  --code-keyword-color: #96adc8;
  --code-function-color: #0470e2;
  --code-error-color: #d14;
}

/* Page Structure */

* {
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
}

body {
  font-size: 16px;
  font-family: "Segoe UI",-apple-system,BlinkMacSystemFont,Roboto,"Helvetica Neue",Arial,sans-serif;
  background-color: var(--main-bg-color);
  color: var(--main-bg-text-color);
  min-width: 370px;
  line-height: 1.3rem;
  display: grid;
  grid-template-columns: 
    [full-start] minmax(0, 1fr) 
    [main-start] minmax(0, var(--site-width))
    [main-end] minmax(0, 1fr)
    [full-end];
}

body > div {
  display: inherit;
  grid-column: full;
  grid-template-columns: inherit;
}

body > div > * {
  grid-column: main;
  padding-left: 1rem;
  padding-right: 1rem;
}

body > div:nth-of-type(1) {
}

body > div:nth-of-type(2) {
  background-color: var(--accent-bg-color);
  color: var(--accent-bg-text-color);
}

body > div:nth-of-type(3) {
}

body > div:nth-of-type(4) {
  background-color: var(--accent-bg-color);
  color: var(--accent-bg-text-color);
}

body > div:nth-of-type(5) {
  height: 5rem;
  background-color: var(--indent-bg-color);
  color: var(--indent-bg-text-color);
}

/* Navigation Header  */

#topbar {
  display: flex;
  justify-content: space-between;
}

#topbar > .logo {
  line-height: var(--height-top-bar); 
}

#topbar > .logo > a {
  display: inline-block;
  color: var(--logo-color);
  text-decoration: none;
  font-family: 'Sarina', cursive;
  font-size: 2rem;
  height: var(--height-top-bar);
}

#topbar > ul {
  list-style: none;
}

#topbar > ul > li {
  display: inline-block;
  line-height: var(--height-top-bar); 
  margin-left: 0.7rem;
}

#topbar > ul > li > a {
  display: inline-block;
  color: var(--main-accent-lighter-color);
  text-decoration: none;
  height: var(--height-top-bar);
}

#topbar > ul > li > a:hover {
  color: var(--main-bg-text-active-color);
}

/* Intro */

header {
  align-self: center;
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 3rem;
}

header > h1 {
  font-size: 4rem;
  font-weight: 500;
  margin: 3.5rem 0;
}

header > h2 {
  font-size: 1.5rem;
  line-height: 2.2rem;
  font-weight: 300;
  margin: 3rem 0;
}

header > a.cta {
  color: var(--main-accent-text-color);
  text-decoration: none;
  font-weight: 400;
  font-size: 1.4rem;
  padding: 1.5rem 2rem;
  border-radius: 0.3rem;
  display: inline-block;
  border: 1px solid white;
}

header > a.cta:hover {
  background-color: var(--main-bg-color);
  color: var(--main-bg-text-active-color);
}

/* Main */

main {
  display: flex;
  padding-top: 2rem !important;
  padding-bottom: 5rem !important;
}

main > ul {
  flex: 1;
  font-size: 0.9rem;
}

main > aside {
  flex: 1;
  font-size: 0.9rem;
}

main > ul > li {
  margin-top: 1rem;
  margin-bottom: 2rem;
  padding-right: 2rem;
}

main > ul > li > h1 {
  font-weight: 400;
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
}

main > ul > li > p > a {
  color: var(--main-accent-color);
}

main > ul > li > p > a:hover {
  color: var(--main-accent-darker-color);
}

main > aside > .code {
  background-color: var(--indent-bg-color);
  padding-top: 1.5rem;
}

main > aside > .code > code {
  height: 8rem;
  line-height: 1.2rem !important;
}

main > aside > .variables {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid var(--main-accent-color);
  display: grid;
  grid-template-columns: 2fr 5fr;
  grid-template-rows: auto;
  grid-row-gap: 0.5rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

main > aside > .spacer {
  font-size: 3rem;
  margin: 1rem 0 2rem 0;
  text-align: center;
}


/* Explainer */

#explainer {
  align-self: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
  font-weight: 300;
  line-height: 1.5rem;
}

#explainer > h1 {
  font-weight: 400;
  margin: 0.5rem 0;
}

#explainer > p {
  padding: 0.5rem 0;
}

#explainer > p > a {
  color: var(--main-accent-text-color);
  text-decoration: none;
  font-weight: 400;
}

#explainer > p > a:hover {
  text-decoration: underline;
}

/* Examples */

#examples {
  padding-bottom: 2rem;
}
#examples > h1 {
  font-weight: 400;
  margin: 2rem 0;
}


#examples > div.grid {
  display: grid;
  grid-template-columns: 4fr 1.5fr 3rem 2.5fr;
  grid-template-rows: auto auto;
  grid-row-gap: 2rem;
  font-size: 0.9rem;
}

#examples > div.grid > .variables {
  padding: 0 1rem;
  border-left: 1px solid #ddd;
  border-right: 1px solid var(--main-accent-color);
}

#examples > div.grid > .variables dt {
  text-align: left;
  line-height: 2rem;
}

#examples > div.grid > .variables dd {
  margin-bottom: 1rem;
}

#examples > div.grid > .spacer {
  align-self: center;
  font-size: 2rem;
  padding-left: 1rem;
}

#examples > div.grid > .result > dt {
  display: none;
}

#examples > div.grid > .result > dd {
  grid-column: 1 / span 2;
}

/* Footer */

footer {
  display: flex;
  justify-content: space-between;
}

footer > .cr {
  color: #818a91;
  font-size: 0.8rem;
  line-height: 5rem;
}

footer > nav > ul > li {
  display: inline-block;
  margin: 0 0.5rem;
}

footer > nav > ul > li > a.fa {
  text-decoration: none;
  color: #818a91;
  font-size: 2rem;
  line-height: 5rem;
}

footer > nav > ul > li > a.fa:hover {
  color: #616a71;
}

/* Widget Styles */


code {
  background-color: var(--indent-bg-color);
  white-space: pre;
  display: block;
  overflow: auto;
  padding: 1rem;
}

code.ace-fluent .ace_cursor {
    color: var(--main-accent-lighter-color);
}

code.ace-fluent .ace_hidden-cursors .ace_cursor {
    color: transparent;
}

code.ace-fluent .ace_gutter {
    width: 1rem;
    background-color: transparent;
}

code.ace-fluent .ace_gutter-active-line {
    background-color: transparent;
}

code.ace-fluent .ace_comment {
    color: var(--code-comment-color);
    font-style: italic;
}

code.ace-fluent .ace_section {
    color: #666;
}

code.ace-fluent .ace_message {
    color: var(--code-id-color);
    font-weight: normal;
}

code.ace-fluent .ace_string {
    color: var(--code-string-color); 
}

code.ace-fluent .ace_number {
    color: var(--code-keyword-color);
}

code.ace-fluent .ace_symbol {
    color: var(--code-keyword-color);
}

code.ace-fluent .ace_variable {
    color: var(--code-variable-color);
}

code.ace-fluent .ace_function {
    color: var(--code-function-color);
}

code.ace-fluent .ace_invalid {
    background-color: #ffe5e5;
    color: red;
}

code.ace-fluent .ace_marker-layer .ace_selection {
    background: rgb(181, 213, 255);
}

code.ace-fluent.ace_multiselect .ace_selection.ace_start {
    box-shadow: 0 0 3px 0px white;
}

code.ace-fluent.ace_nobold .ace_line > span {
    font-weight: normal !important;
}

code.ace-fluent .ace_marker-layer .ace_step {
    background: rgb(252, 255, 0);
}

code.ace-fluent .ace_marker-layer .ace_stack {
    background: rgb(164, 229, 101);
}

code.ace-fluent .ace_marker-layer .ace_bracket {
    margin: -1px 0 0 -1px;
    border: 1px solid rgb(192, 192, 192);
}

code.ace-fluent .ace_marker-layer .ace_selected-word {
    background: rgb(250, 250, 255);
    border: 1px solid rgb(200, 200, 250);
}

code.ace-fluent .ace_error {
    background: #ffa5a5 !important;
}

dl.variables {
  background-color: var(--indent-bg-color);
  padding: 1rem;
  font-size: 0.9rem;
}

dl.variables > dt {
  color: var(--code-variable-color);
}

dl.variables > dd {
  display: flex;
}

dl.variables > dd > input {
  width: 100%;
}

dl.variables > dd > input[type=range] {
  height: 1.3rem;
}

dl.variables > dd > label {
  padding: 0 0.5rem;
}

dl.variables > dd.radio {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
}

.spacer {
  align-items: center;
}

dl.result {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  font-size: 0.9rem;
  align-items: center;
}

dl.result > dt {
  color: var(--code-id-color);
}

dl.result > dd {
  color: var(--code-string-color);
}

dl.annotations {
  padding-top: 1rem;
  display: grid;
  grid-template-rows: auto;
  grid-row-gap: 1rem;
  font-size: 0.9rem;
  align-items: center;
}

dl.annotations > dt {
  color: var(--code-error-color);
}

dl.annotations > dd {
  font-size: 0.7rem;
}


/* media queries */

@media (max-width: 60rem) {
  :root {
    --height-top-bar: 8vw;
  }

  main {
    display: block;
  }

  #examples {
    display: none;
  }
}

@media (max-width: 30rem) {
  #topbar {
    justify-content: end;
  }
  #topbar > .logo {
    display: none;
  }

  #topbar > ul > li {
    margin-left: 0.2rem;
  }
}
