:root{
    --middle-font-size: 20px;
    --big-font-size: 25px;
    --blue: #16a6b6;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Lato', Helvetica, 'Fira Sans', Arial, sans-serif;
    font-size: 16px;
    line-height: 1.231;
    background-color: #FAFAFA;
    color: #333;
}

pre, code {
    font-family: 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace;
}

.link,
.link:visited {
    color: var(--blue);
    text-decoration: none;
}

.link:hover {
    color: #2a6496;
    text-decoration: underline;
}

.highlight {
    font-weight: normal;
    background-color: #ffa;
}

.main {
    margin: 2rem auto;
    padding: 0 1rem;
    width: 800px;
}

.section {
    display: flex;
    margin-top: 3rem;
}

.header,
.section--centered {
    align-items: center;
}

.header__wordmark {
    background: #000;
    border-radius: 50%;
    box-sizing: border-box;
    color: #FFF;
    display: inline-block;
    font-family: 'Pacifico', cursive;
    font-size: var(--big-font-size);
    font-weight: normal;
    height: 100px;
    margin: 0;
    padding-top: 33px;
    text-align: center;
    width: 100px;
}

.header__nav {
    display: inline-block;
    float: right;
    margin-top: 40px;
}

.header__nav .link {
    font-size: var(--middle-font-size);
    font-weight: bold;
    margin-left: 4rem;
}

.pitch {
    font-size: var(--big-font-size);
    line-height: 1.5;
    margin: 0 0 0.3em;
    width: 550px;
}

.use {
    font-size: var(--middle-font-size);
}

.cta-wrapper {
    text-align: center;
    width: 250px;
}

.link--cta {
    font-size: var(--middle-font-size);
    white-space: nowrap;
    color: #fff;
    display: block;
    background-color: var(--blue);
    border-radius: 3px;
    margin-bottom: 1rem;
    text-decoration: none;
    padding: 1.3rem 0;
    width: 100%;
}

.link--cta:hover {
    text-decoration: underline;
}

.features__title,
.example__title {
    font-size: var(--middle-font-size);
    margin-top: 0;
}

.features__list {
    line-height: 2;
    list-style: square;
    margin: 0;
    padding: 0 1.5rem;
}

.example {
    flex: 2;
    margin-left: 1rem;
}

.example__more {
    margin-top: 1rem;
    text-align: right;
}
