.editor {
    height: 20rem;
    margin-top: 2rem;
    border: 1px solid #ddd;
}

.demo__title {
    margin-top: 0;
    font-size: 1rem;
}

.externals {
    display: flex;
    flow-direction: columns;
    margin-top: 2rem;
}

.externals__control {
    flex: 1;
}

.externals__name {
    margin-bottom: .5rem;
}

.externals__label {
    display: block;
}

.externals__input {
    margin: 0;
}

.externals__input[type="text"] {
    width: 8rem;
}

.externals__input[type="range"] {
    width: 6rem;
}

.externals__input[type="number"] {
    width: 4rem;
}

.output {
    padding: 1rem;
    border: 1px solid #ddd;
}

.output__item {
    display: flex;
    margin: .3rem 0;
}

.output__key {
    flex: 1;
}

.output__value {
    flex: 2;
}

.message__id {
    font-size: .9rem;
    color: #666;
    margin: 0;
}

.annotation {
    font-size: .9rem;
}

.annotation__slice,
.annotation__label {
    white-space: pre-wrap;
    color: #999;
    margin: 0;
}

.annotation__name,
.annotation__label {
    color: #d14;
}
